<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="{{ settings.color_black }}">
    <link rel="canonical" href="{{ canonical_url }}">

    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    <title>
      {{ page_title }}
      {%- if current_tags %} &ndash; {{ 'general.meta.tags' | t: tags: current_tags | join: ', ' }}{% endif -%}
      {%- if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif -%}
      {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
    </title>

    {% render 'meta-tags' %}

    {%- if settings.favicon != blank -%}
      <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {%- endif -%}

    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>

    {{ 'theme.css' | asset_url | stylesheet_tag }}

    {{ settings.heading_font | font_face: font_display: 'swap' }}
    {{ settings.body_font | font_face: font_display: 'swap' }}

    <style>
      :root {
        --font-heading-family: {{ settings.heading_font.family }}, {{ settings.heading_font.fallback_families }};
        --font-heading-style: {{ settings.heading_font.style }};
        --font-heading-weight: {{ settings.heading_font.weight }};
        --font-body-family: {{ settings.body_font.family }}, {{ settings.body_font.fallback_families }};
        --font-body-style: {{ settings.body_font.style }};
        --font-body-weight: {{ settings.body_font.weight }};

        --color-black: {{ settings.color_black }};
        --color-white: {{ settings.color_white }};
        --color-gold: {{ settings.color_gold }};
        --color-gold-light: {{ settings.color_gold_light }};
        --color-offwhite: {{ settings.color_offwhite }};
        --color-ink: {{ settings.color_ink }};
        --page-width: {{ settings.page_width }}px;
      }
    </style>

    {{ content_for_header }}
  </head>

  <body class="template-{{ request.page_type | handleize }}">
    <a class="skip-to-content-link visually-hidden-focusable" href="#MainContent">
      {{ 'general.accessibility.skip_to_content' | t }}
    </a>

    {% sections 'header-group' %}

    <main id="MainContent" class="content-for-layout">
      {{ content_for_layout }}
    </main>

    {% sections 'footer-group' %}

    <script src="{{ 'theme.js' | asset_url }}" type="module"></script>
    <script src="{{ 'accordion-custom.js' | asset_url }}" type="module"></script>
  </body>
</html>
