<p class="eyebrow" style="justify-content:center;">{{ shop.name }}</p>
<h1 style="color: var(--color-white);">{{ 'general.password_page.opening_soon' | t }}</h1>

{% form 'storefront_password' %}
  {% if form.errors %}
    <div class="form-message form-message--error">{{ 'general.password_page.login_form_error' | t }}</div>
  {% endif %}
  <div class="form-field" style="margin: 1.5rem 0;">
    <label for="Password" style="color: var(--color-white);">{{ 'general.password_page.login_form_password_label' | t }}</label>
    <input type="password" id="Password" name="password" placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}">
  </div>
  <button type="submit" class="button button--primary button--block">{{ 'general.password_page.login_password_button' | t }}</button>
{% endform %}

<p style="margin-top: 2rem; opacity: 0.6; color: var(--color-white); font-size: 0.85rem;">
  {{ 'general.password_page.admin_link_html' | t }}
</p>
